/* General Styling */
body {
    font-family: 'Garamond', serif;
    background-color: #f5f0e1; /* Soft beige */
    color: #4b2e2e; /* Dark brown */
    line-height: 1.4;
    
    margin-top: 60px;
    
}

/* Heading Styles */
h1, h2, h3 {
    
    color: #8b5e34; /* Warm brown */
    margin-bottom: 0.5em;
    
  
}
hr{background-color: #8b5e34;
border: none;
height: 1px;}

h1 {
    font-size: 3em;
    letter-spacing: 2px;
    border-bottom: 2px solid #d3b08d; /* Light brown border */
    
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
  
}

h2 {
    font-size: 2.5em;
    letter-spacing: 1.5px;
    
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
    letter-spacing: 0.3px;
    color: #9c6f50; /* Softer brown */
    line-height: 1.6;
    font-weight: 400;
    margin: 20px 0;
 
}
.container{display: flex;             
    align-items: center;
    margin: 20px;
  }
/* Image Styling */
img {
    display: block;
    max-width: 100%;
    height: auto;
    background-color: #f0e4d7; /* Light beige background */
    border-radius: 8px;
    border: 8px solid #8b5e34; /* Thick warm brown border */
    box-shadow: 0px 4px 10px rgba(75, 46, 46, 0.1); /* Subtle brown shadow */
    margin: 20px auto;
    margin-right: 20px;
    width:300px;
    height: 300px;

}
video{
    width: 600px;
    height: 500px;
}
nav ul {position:fixed;
    top: 0;
    left: 0;
    border-style: solid;
  border-color: #71471f;
  border-width: 2px;

  padding:10px;
  margin: 0;
    background-color: #8b5e34;
    border-radius: 20px;
    width: 100vw;
    z-index: 1000;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
text-decoration: none;
color: PapayaWhip;

}
nav ul li a {
    text-decoration: none;
    color: white;
}